[Unit]
Description=GameScoreServer
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/root/Git/game-score-server/startServer.sh
TimeoutSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
